# Ignore config with API keys
config.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.env.*

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Log files
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode / PyCharm
.vscode/
.idea/

# Python virtual e
